.board-row{
  display:flex;
  flex-direction: row;
  clear: both;
}
.square{
  background: #ffffff;
  border: 1px solid #999999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  width: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.square:hover{
  background: hsl(0, 84%, 47%);
}
.square:focus{
  outline: 2px solid #2563eb;
}